@keyframes scrolling {
    0%, 100% {
        transform: translateY(0);
    }
    45%, 55% {
        transform: translateY(-100%);
    }
}

@keyframes pumpIt {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes openModal {
    0% {
        width: 1%;
        height: 1%;
    }
    50% {
        width: 1%;
        height: 50%;
    }
    100% {
        width: 50%;
        height: 50%;
    }
}

@keyframes textAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mainTitle {
    display: flex;
    width: fit-content;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8vh;
    font-weight: 500;
    padding: 0;
    margin: auto;
}

.myName {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4vw;
    height: 10vh;
    border-bottom: 2px solid #2A9D8F;
    z-index: 1;

    .thin {
        font-weight: 100;
        margin-left: 10px;
    }
}

.myJob {
    display: block;
    height: 6vh;
    font-size: 4vh;
    letter-spacing: 8px;
    overflow: scroll;

    &--Desc {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 6vh;
        animation: scrolling 4s ease infinite;
    }

    .thin {
        font-weight: 100;
        margin-right: 10px;
    }
}

.navScroll {
    height: 10vh;
    font-size: 2vh;
    font-weight: 200;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: pumpIt 2s ease infinite;
}

.iconScrollDown {
    font-weight: 100;
    font-size: 2vh;
}

.about {
    height: 100vh;
    font-size: 12vh;
}

.topMenu {
    width: 100vw;
    height: 100px;
    position: fixed;
    top: -100px;
}

.section {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    left: 0;
    background-color: #5DB9AB;
    color: #B3E8D5;
    z-index: 1;
    margin-top: 30vh;
    position: relative;
    box-shadow: -4px -4px 12px rgba(0,0,0,0.5);

    &__category {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: linear-gradient(#5DB9AB 50%, rgba(93,185,171,0.2) 100%);
        z-index: 99;
        width: 100%;
        height: 25vh;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__infos {
        flex: 1;
        margin: 5vw;
        height: 50vh;
        font-size: 6vh;
    }

    &__projects {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__listProjects {
        height: 85vh;
        overflow: scroll;
        z-index: 2;
        margin: 0 0 15vh 0;
        padding-top: 25vh;
        box-sizing: border-box;
    }
}

.bubble {
    filter: blur(4px);
    font-size: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    color: #2A9D8F;
    background-color: #B3E8D5;
    position: absolute;
    top: -10vh;
    left: 5vw;
    z-index: 1;
    border:4px solid #2A9D8F;
    box-shadow: 4px 4px 16px rgba(0,0,0,0.25);
}

.project {
    flex: 2;

    &__Name {
        flex: 2;
        height: 8vh;
        font-weight: 600;
        border-bottom: 4px solid #2A9D8E;
        -webkit-text-stroke: 2px #2A9D8F;
        text-shadow: 2px 2px 6px rgba(0,0,0,0.25);
    }

    &__Desc {
        font-size: 3vh;
        margin-top: 10px;
        text-align: justify;
    }

    &__Visual {
        flex: 1;
        margin: 10vh 0 0 2vw;        

        img {
            object-fit: cover;
            border-radius: 10px;
            border: 4px solid #2A9D8F;
            max-height: 40vh;
            width: calc(100% - 8px);
            box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
        }
    }
}

.listButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 15vh;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 20%;
    font-size: 2vh;
    border-radius: 10px;
    border: 2px solid #2A9D8E;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.25);
    transform: scale(1);
    transition: transform 0.5s ease;

    &:hover {
        cursor: pointer;
        color: #5DB9AB;
        background-color: #B3E8D5;    
        box-shadow: none;
        transform: scale(0.95);
    }
}

.modal {
    display: none;

    &__Open {
        display: flex;
        z-index: 999;
        background: rgba(0,0,0,0.75);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.containerModal {
    color: #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25%;
    left: 25%;
    z-index: 999;
    width: 50%;
    height: 50%;
    border: 4px solid #095a4f;
    background: #5DB9AB;
    animation: openModal 1s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5) inset;
}

.textModal {
    opacity: 0;
    height: 100%;
    padding: 0;
    animation: textAnim 1s ease 1s forwards;
    display: flex;
    flex-direction: column;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 6px 6px 0 0;
    }

    .visual {
        width: 100%;
        height: 75%;
        padding: 0;
        border-radius: 6px 6px 0 0;
        background: #262626;
        position: relative;

        .arrowNav:first-child {
            content: '';
            width: 5%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            position: absolute;
            background: rgba(255,255,255,0.01);
            opacity: 0.4;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }

        .arrowNav:last-child {
            content: '';
            width: 5%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            background: rgba(255,255,255,0.01);
            opacity: 0.4;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    .legend {
        flex: 1;
        font-size: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.closeModal {
    position: absolute;
    top: -80px;
    left: 0;
    opacity: 0;
    animation: textAnim 1s ease 1.5s forwards;
    font-size: 4vh;

    &:hover {
        cursor: pointer;
        color: #2A9D8E;
    }
}

.arrowNav {
    z-index: 2;
}