:root {
  font-family: "Advent Pro", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #2A9D8F;
  background-color: #B3E8D5;

  width: 100vw;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
}

a {
  color: #fff;
  text-decoration: none;
}